*.gitconfig

**/*lock.json
**/*.log

dotfiles/**/secrets
dotfiles/**/secret*

dotfiles/containers/systemd/
dotfiles/doom/custom.el
dotfiles/kitty/ignored/
dotfiles/tmux/current-theme.conf
dotfiles/niri/noctalia.kdl

# NixOS
result
