*.gitconfig

**/*lock.json
**/*.log

dotfiles/**/secrets
dotfiles/**/secret*

dotfiles/containers/systemd/
dotfiles/doom/custom.el
dotfiles/tmux/current-theme.conf

# Noctalia automated themes
dotfiles/btop/themes/noctalia.theme
dotfiles/kitty/themes/
dotfiles/niri/noctalia.kdl

# NixOS
result
